<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Previsão Semanal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h2 id="titulo">Previsão para os próximos dias em {{ cidade }}</h2>

  <ion-list>
    <ion-item *ngFor="let forecast of weekForecast">
      <ion-label>
        <h2>{{ forecast.data }}</h2>
        <p>
          <ion-icon name="thermometer-outline"></ion-icon>
          Temp: {{ forecast.temperatura }}°C
        </p>
        <p>
          <ion-icon name="water-outline"></ion-icon>
          Umidade: {{ forecast.main.humidity }}%
        </p>
        <p>
          <ion-icon name="cloudy-outline"></ion-icon>
          {{ forecast.weather[0].description }}
        </p>
      </ion-label>
      <ion-thumbnail slot="end">
        <img [src]="'http://openweathermap.org/img/w/' + forecast.weather[0].icon + '.png'" alt="Ícone do tempo">
      </ion-thumbnail>
    </ion-item>
  </ion-list>

  <ion-button expand="block" routerLink="/previsao-atual">Ver Previsão Atual</ion-button>
</ion-content>
